body {
    color: white;
    /*background-image: url("background-pirat.jpg");*/
    background-image: url("background-what.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 80em;
    transform: scale(1.15);
    transform-origin: 0 0;
}

h1 {
    margin: 0em 0.2em;
    padding-top: 1.2em;
    padding-bottom: 0em;
    color: burlywood;
    text-transform: uppercase;
}

h2 {
    margin: 0em 0.3em;
    padding-top: 0.3em;
    padding-bottom: 0.5em;
}

h2#subhead {
    margin-bottom: 0.8em;
    color: #ececec;
}

caption, label {
    font-family: sans-serif;
    position: relative;
    font-size: 14px
}

caption {
    text-align: left;
    margin-bottom: 0.3em;
    margin-left: 0.3em;
}

label {
    top: -1.4em;
    left: 1.5em;
}

table.forms {
    border-collapse: collapse;
    background: white
}

table.forms th {
    color: cadetblue;
}

table.forms td, th {
    border: 1px solid black;
    padding: 0.2em 0.5em;
    font-weight: bold;
    color: black;
}

div#content {
    margin-top: 0.5em;
    margin-left: 1em;
}


a:link, a:visited {
    color: aliceblue;
}

div.navy {
    margin-bottom: 1em;
}

ul.navy {
    margin-left: 0px;
    padding-left: 0px;
}

ul.navy li {
    list-style: square;
    float: left;
    margin-right: .5em;
    margin-left: 2em;
}

#lang, #infinitive, #person, #number, #tense {
    position: relative
}


#lang {
    left: -2em;
    margin-right: -4em;
}

#inf_lable {
    margin-left: 2em;
}

#infinitive {
    left: -6em;
    font-weight: bold;
    color: black;
    /*margin-left: 2em;*/
    /*font-size: large;*/
}

#person {
    left: -2em
}

#number {
    left: -2.5em
}

#tense {
    left: -2.5em
}

.verb {
    font-weight: bold;
    color: chocolate;
    font-size: x-large;
}

input.verb {
    width: 6.5em;
    border-width: 0px;
    font-family: serif;
    margin: 0px;
    padding: 0px;
}

span.pronoun {
    width: 3em;
}

ol#verb_list {
    color: black;
    position: absolute;
    left: 68.5em;
    top: -1.5em
}

ol#verb_list div {
    float: left;
    width: 8em;
}

a.list_navy {
    color: black !important;
}
