label {margin-left: .4em }

.verb {
    font-weight: bold;
    color: red;
    font-size: large;
}

h1 {
    color: purple;
    text-transform: uppercase;
}

table.content {
    border: 1px solid black;
    border-collapse: collapse;
    /*width: 48em;*/
}

table.content td, table.content th {
    border: 1px solid black;
    padding: .5em;
    width: 12em;
}