label {
    font-family: sans-serif;
    position: relative;
    left: 1.5em;
    top: -1.2em;
    font-size: 14px
}

ul.navy li {
    display: inline !important;
    padding-left: 1em;
}

#lang, #infinitive, #person, #number, #tense {
    position: relative
}


#lang {
    left: -2em;
    margin-right: -4em;
}

#infinitive {
    left: -6em;
    margin-right: -4em;
}

#person {
    left: -2em
}

#number {
    left: -2.5em
}

#tense {
    left: -2.5em
}

.verb {
    font-weight: bold;
    color: red;
    font-size: x-large;
}

h1 {
    color: purple;
    text-transform: uppercase;
}

/*#viewport {border-width: 2px; border-color: black}*/