<HTML>
<HEAD>
    <TITLE>{% block title %}{% endblock %}</TITLE>
    <meta http-equiv="Cache-Control" content="no-cache">
    <link rel="stylesheet" updateviacache="all" href="{{ url_for('static', filename='style1.1.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.js') }}"></script>
    {% block script %}{% endblock %}
</HEAD>
<BODY>
<div class="navy">
    <ul class="navy">
        <li><a href="/">домой</a></li>
        <li><a href="/morph">служба морфинга</a></li>
        <li><a href="/table">таблица морфем</a></li>
    </ul>
</div>
<H1 class="h1">{% block header %}{% endblock %}</H1>

{% block subheader %}{% endblock %}

<H2 id="subhead"
    onmouseover="javascript: $('h2').css('text-decoration','underline')"
    onmouseout="javascript: $('h2').css('text-decoration','none')"
    onmousedown="javascript: $('h2').css('color','red')"
    onmouseup="javascript: f = function(){$('h2').css('color','inherit')}; setTimeout(f, 1000)"
>Для использования сервиса укажите:</H2>

<FORM onsubmit="return false;" action="/morph/do" method="post" target="result">
    <label for="lang">Язык</label>
    <select onchange="$('#infinitive').val($('#lang option:selected').attr('is'));$('form').submit()"
            tabindex="2"
            id="lang"
            name="lang">
        {% for lang in langs %}
            <option value="{{ lang }}" is="{{ verbs[lang] }}">{{ langs[lang] }}</option>
        {% endfor %}
    </select>
    <label id="inf_lable" for="infinitive">Инфинитив</label>
    <input onchange="$('form').submit()"
           type="text"
           id="infinitive"
           name="infinitive"
           tabindex="1"
           value="be"/>
    {% block form %}{% endblock %}
</FORM>

<br/>
{% block content %}{% endblock %}
</BODY>
</HTML>