{% extends 'base.html' %}

{% block title %}Morph service{% endblock %}

{% block script %}
    <script>
        function get_form_by_ajax(post_url, request_method, form_data) {
            console.log(form_data);
            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (data) {
                console.log("verb form is " + data.form);
                $("#verb").html(data.form);
            });
        }

        $(document).ready(function () {
            $("form").submit(function () {
                var post_url = $(this).attr("action"); //get form action url
                var request_method = $(this).attr("method"); //get form HTTP method
                var form_data = $(this).serialize(); //Encode form elements for submission
                console.log(form_data);
                get_form_by_ajax(post_url, request_method, form_data);
            });
            $("form").submit();
        });
    </script>
{% endblock %}

{% block header %}Служба морфинга{% endblock %}

{% block subheader %}Позволяет получить разные формы глагола.{% endblock %}

{% block form %}
    <br/><br/><br/>
    <label for="person">Лицо</label>
    <select onchange="$('form').submit()" tabindex="2" id="person" name="person">
        <option value="1">первое</option>
        <option value="2">второе</option>
        <option value="3">третье</option>
    </select>
    <label for="number">Число</label>
    <select onchange="$('form').submit()" tabindex="3" id="number" name="number">
        <option value="1">Ед</option>
        <option value="2">Мн</option>
    </select>
    <label for="tense">Время</label>
    <select onchange="$('form').submit()" tabindex="4" id="tense" name="tense">
        <option value="1">прошедшее</option>
        <option value="2">настоящее</option>
        <option value="3">будущее</option>
        <option value="4">совершенное</option>
    </select>
{% endblock %}

{% block content %}
    <p style="background-color: aliceblue;
    margin-right: 72%;
    color: dimgrey;
padding-left: 1em">Новая форма: <span id="verb" style="font-size: 400% !important;" class="verb"></span></p>
{% endblock %}
