{% extends 'base.html' %}

{% block title %}Verb tabler{% endblock %}

{% block script %}
    <script>
        function update_if_not_contains(newValue, oldValue) {
            values = $(oldValue).html();
            if (values == '')
                $(oldValue).html(newValue);
            else if (newValue != values) {
                let valuesArr = values.split(" / ");
                valuesArr.push(newValue);
                let uniques = Array.from(new Set(valuesArr));
                $(oldValue).html(uniques.join(" / "));
            }
        }

        function get_verb_form_by_ajax(form_data, post_url, request_method, id) {
            console.log(id + " " + form_data);
            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (data) {
                prev_verb = '#v' + id;
                console.log(id + " verb form is " + data.verb_form + ", prev: " + $(prev_verb).html());
                update_if_not_contains(data.verb_form, prev_verb);
                prev_pronoun = '#p' + id;
                update_if_not_contains(data.pronoun, prev_pronoun);
            });
        }

        $(document).ready(function () {
            clear_table();
            $("form").submit(function () {
                    var post_url = $(this).attr("action");
                    var request_method = $(this).attr("method");
                    for (i = 1; i <= {{ tenses|length }}; i++) {
                        $(this).find("[name=tense]").val(i);
                        for (j = 1; j <= {{ persons|length }}; j++) {
                            $(this).find("[name=person]").val(j);
                            for (k = 1; k <= {{ numbers|length }}; k++) {
                                $(this).find("[name=number]").val(k);
                                for (g = 1; g <= {{ genuses|length }}; g++) {
                                    $(this).find("[name=genus]").val(g);
                                    var form_data = $(this).serialize();
                                    get_verb_form_by_ajax(form_data, post_url, request_method, '' + i + '_' + j + '_' + k);
                                }
                            }
                        }
                    }
                }
            );
            $("form").submit();
        })

        function clear_table() {
            $('.verb,.pronoun').html('');
        }
    </script>
{% endblock %}

{% block header %}
    <h5><a href="/">домой</a></h5>
    <H1 class="h1">Таблица морфем</H1>
    <P color="red">Позволяет получить таблицу форм глагола.</P>
{% endblock %}

{% block content %}
    <FORM onsubmit="return false;" action="/morph/do" method="post">
        <label for="lang">Язык</label>
        <select onchange="clear_table();$('#infinitive').val($('#lang option:selected').attr('is'));$('form').submit()"
                tabindex="1"
                id="lang"
                name="lang">
            {% for lang in langs %}
                <option value="{{ lang }}" is="{{ langs[lang]['default_verb'] }}">{{ langs[lang]['name'] }}</option>
            {% endfor %}
        </select>
        <label for="infinitive">Инфинитив</label>
        <input onchange="clear_table(); $('form').submit()"
               type="text"
               id="infinitive"
               name="infinitive"
               tabindex="2"
               value="be"/>
        <input type='hidden' name='tense' value='1'/>
        <input type='hidden' name='person' value='1'/>
        <input type='hidden' name='number' value='1'/>
        <input type='hidden' name='genus' value='1'/>
    </FORM>

    <table class="content">
        <caption>Формы:</caption>
        <thead>
        <tr>
            {% for tense in tenses %}
                <th colspan="2">{{ tense.head }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for tense in tenses %}
                {% for number in numbers %}
                    <th class="subhead">{{ number.head }}</th>
                {% endfor %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        <tr>
            {% for tense in tenses %}

                {% for number in numbers %}
                    <td>
                        {% for person in persons %}
                            <span class="pronoun"
                                  id="{{ "p{}_{}_{}".format(tense.value,person.value,number.value) }}">{{ person.pronoun }}</span>
                            <span class="verb"
                                  id="{{ "v{}_{}_{}".format(tense.value,person.value,number.value) }}"></span><br/>
                        {% endfor %}
                    </td>
                {% endfor %}

            {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}