{% extends 'base.html' %}

{% block title %}Verb tabler{% endblock %}

{% block script %}
    <script>
        function get_verb_form_by_ajax(form_data, post_url, request_method, id) {
            console.log(form_data);
            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (data) {
                console.log("verb form is " + data.form + " for " + data.pronoun);
                $("#p" + id + "1").html(data.pronoun);
                $("#v" + id + "1").html(data.form);
            });
        }

        $(document).ready(function () {
            $("form").submit(function () {
                let post_url = $(this).attr("action"); //get form action url
                let request_method = $(this).attr("method"); //get form HTTP method
                for (let p = 1; p <= {{ persons|length }}; p++) {
                    $(this).find("[name=person]").val(p);
                    for (let n = 1; n <= {{ numbers|length }}; n++) {
                        $(this).find("[name=number]").val(n);
                        for (let t = 1; t <= {{ tenses|length }}; t++) {
                            $(this).find("[name=tense]").val(t);
                            let form_data = $(this).serialize(); //Encode form elements for submission
                            let id = t.toString() + p.toString() + n.toString();
                            get_verb_form_by_ajax(form_data, post_url, request_method, id);
                        }
                    }
                }
            });
            $("form").submit();
        });
    </script>
{% endblock %}

{% block header %}Таблица глаголов{% endblock %}

{% block subheader %}
    <P color="red">Позволяет получить таблицу форм глагола.</P>
{% endblock %}

{% block form %}
    <input type="hidden" name="person" value="1"/>
    <input type="hidden" name="number" value="1"/>
    <input type='hidden' name='tense' value='1'/>
{% endblock %}

{% block content %}
    <TABLE class="forms">
        <caption>Формы</caption>
        <THEAD>
        <TR>
            {% for tense in tenses %}
                <TH>{{ tense }} </TH>
            {% endfor %}
        </TR>
        </THEAD>
        <TBODY>
        {% for number in numbers %}
            {% for person in persons %}
                <TR>
                    {% for tense in tenses %}
                        <TD>
                            <span class="pronoun" id="p{{ tense.value }}{{ person.value }}{{ number.value }}1"></span>
                            <span class="verb" id="v{{ tense.value }}{{ person.value }}{{ number.value }}1"></span>
                        </TD>
                    {% endfor %}
                </TR>
            {% endfor %}
        {% endfor %}
        </TBODY>
    </TABLE>
{% endblock %}