{% extends 'base.html' %}

{% block title %}Verb tabler{% endblock %}

{% block script %}
    <script>
        function get_verb_form_by_ajax(form_data, post_url, request_method, id) {
            console.log(form_data);
            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (data) {
                console.log("verb form is " + data.form + " for " + data.pronoun);
                $("#p" + id + "111").html(data.pronoun);
                $("#v" + id + "111").html(data.form);
            });
        }

        $(document).ready(function () {
            $("form").submit(function () {
                var post_url = $(this).attr("action"); //get form action url
                var request_method = $(this).attr("method"); //get form HTTP method
                for (i = 1; i <= {{ tenses|length }}; i++) {
                    $(this).find("[name=tense]").val(i);
                    var form_data = $(this).serialize(); //Encode form elements for submission
                    get_verb_form_by_ajax(form_data, post_url, request_method, i);
                }
            });
            $("form").submit();
        });
    </script>
{% endblock %}

{% block header %}Таблица глаголов{% endblock %}

{% block subheader %}
    <P color="red">Позволяет получить таблицу форм глагола.</P>
{% endblock %}

{% block form %}
    <input type="hidden" name="person" value="1">
    <input type="hidden" name="number" value="1">
    <input type='hidden' name='tense' value='1'/>
{% endblock %}

{% block content %}
    <p>Формы:</p>
    <TABLE class="forms">
        <THEAD>
        <TR>
            {% for tense in tenses %}
                <TH>{{ tense }} </TH>
            {% endfor %}
        </TR>
        </THEAD>
        <TBODY>
        {% for person in persons %}
            <TR>
                {% for tense in tenses %}
                    <TD>
                        <span class="pronoun" id="p{{ tense.value }}111"></span>
                        <span class="verb" id="v{{ tense.value }}111"></span>
                    </TD>
                {% endfor %}
            </TR>
        {% endfor %}
        </TBODY>
    </TABLE>
{% endblock %}